<%- include('partials/header') %> <%- include('partials/navigation') %>
<main
  class="vh-100 container pt-2 text-center d-flex justify-content-center align-items-center"
>
  <section>
    <h1>About Page</h1>
    <p class="mt-4">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Exercitationem
      eaque aliquid optio! Error, enim sed fuga ab odio illum aut necessitatibus
      similique, nobis quia nam nisi. Magnam sint libero ipsum at eos. Veniam
      veritatis minima id in doloribus dolores dignissimos, quam eos molestias
      iure fuga accusantium voluptates velit facere aperiam beatae quia quod
      maiores itaque? Odit aperiam quam fugiat vel nostrum vitae fuga sint
      voluptate, ea tenetur dolorem officiis, molestias non molestiae tempora.
      Ea excepturi cumque corrupti ex impedit eum placeat voluptate quae
      aliquid. Voluptatum cum delectus, quisquam eveniet ullam repudiandae
      nostrum! Officiis, molestias maiores! Possimus eos sequi eaque quos quia
      incidunt natus vero, laudantium, quasi enim autem illo eum aut delectus
      officia velit suscipit et perferendis maxime excepturi accusantium vitae.
      Ea atque rem, iure quisquam cum nemo! Quia, asperiores quo nihil cumque,
      incidunt ipsam numquam reprehenderit quaerat provident quis suscipit? Nemo
      nulla explicabo incidunt atque vitae alias facilis rem adipisci
      necessitatibus praesentium, placeat fuga porro ipsum unde quasi error
      neque quidem, rerum culpa dolores. Aspernatur sint quis sequi cupiditate
      veritatis, optio illum nihil provident esse quasi exercitationem ad
      numquam eius ratione? Dolor officiis molestias, non accusamus quaerat quas
      saepe eligendi, expedita facilis quos reprehenderit nisi. Facilis, eum
      dolores. Neque?
    </p>
  </section>
</main>

<%- include('partials/footer') %>
